<div class="widget" *ngIf="allPopularRecipes.length > 0; else thereIsNoPopularRecipeYet;">
    <h4 class="headline">Popular Recipes</h4>
    <span class="line margin-bottom-30"></span>
    <div class="clearfix"></div>

    <a *ngFor="let item of allPopularRecipes" href="recipe-page-1.html" class="featured-recipe">
        <img [src]="item.image" [ngStyle]="{'width': '100%', 'height': 'auto'}" alt="">

        <div class="featured-recipe-content">
            <h4>{{item.title}}</h4>
            <div [ngSwitch]="item.rating">
                <div *ngSwitchCase="5" class="rating five-stars">
                    <div class="star-rating"></div>
                    <div class="star-bg"></div>
                </div>
                <div *ngSwitchCase="4" class="rating four-stars">
                    <div class="star-rating"></div>
                    <div class="star-bg"></div>
                </div>
            </div>
        </div>
    </a>


    <div class="clearfix"></div>
</div>

<ng-template #thereIsNoPopularRecipeYet></ng-template>