<div class="container">

    <div class="five columns">
        <!-- Headline -->
        <h3 class="headline footer">About</h3>
        <span class="line"></span>
        <div class="clearfix"></div>
        <p>Cras at ultrices erat, sed vulputate eros. Nunc at augue gravida est fermentum vulputate. Pellentesque et
            ipsum in dui malesuada tempus.</p>
    </div>

    <div class="three columns">

        <!-- Headline -->
        <h3 class="headline footer">Archives</h3>
        <span class="line"></span>
        <div class="clearfix"></div>

        <ul class="footer-links">
            <li><a href="#">June 2014</a></li>
            <li><a href="#">July 2014</a></li>
            <li><a href="#">August 2014</a></li>
            <li><a href="#">September 2014</a></li>
            <li><a href="#">November 2014</a></li>
        </ul>

    </div>

    <div class="three columns">

        <!-- Headline -->
        <h3 class="headline footer">Recipes</h3>
        <span class="line"></span>
        <div class="clearfix"></div>

        <ul class="footer-links">
            <li><a href="browse-recipes.html">Browse Recipes</a></li>
            <li><a href="recipe-page-1.html">Recipe Page</a></li>
            <li><a href="submit-recipe.html">Submit Recipe</a></li>
        </ul>

    </div>

    <div class="five columns">

        <!-- Headline -->
        <h3 class="headline footer">Newsletter</h3>
        <span class="line"></span>
        <div class="clearfix"></div>
        <p>Sign up to receive email updates on new product announcements, gift ideas, sales and more.</p>


    </div>

</div>