<div id="footer">
    <div class="container">
        <div class="five columns">
            <h3 class="headline footer">About</h3>
            <span class="line"></span>
            <div class="clearfix"></div>
            <p>Cras at ultrices erat, sed vulputate eros. Nunc at augue gravida est fermentum vulputate. Pellentesque et
                ipsum in dui malesuada tempus.</p>
        </div>

    </div>
</div>

<div id="footer-bottom">
    <div class="container">
        <div class="eight columns">© Copyright 2014 by <a href="#">Chow</a>. All Rights Reserved.</div>

    </div>

</div>