<div class="container">
    <div class="three columns">
        <div id="logo">
            <h1><a routerLink="/"><img src="http://www.vasterad.com/themes/chow/images/logo.png" alt="Chow"></a>
            </h1>
        </div>
    </div>

    <div class="thirteen columns navigation">
        <nav id="navigation" class="nav-collapse nav-collapse nav-collapse-0 closed menu sf-js-enabled sf-arrows"
            style="transition: max-height 284ms ease 0s; position: relative;" aria-hidden="false">
            <ul>
                <li><a routerLink="/" id="current">Home</a></li>
            </ul>
        </nav>
    </div>

</div>