<!-- Container -->
<div class="container">

    <!-- Logo / Mobile Menu -->
    <div class="three columns">
        <div id="logo">
            <h1><a href="index.html"><img src="http://www.vasterad.com/themes/chow/images/logo.png" alt="Chow"></a>
            </h1>
        </div>
    </div>


    <!-- Navigation
        ================================================== -->
    <div class="thirteen columns navigation">

        <nav id="navigation" class="nav-collapse nav-collapse nav-collapse-0 closed menu sf-js-enabled sf-arrows"
            style="transition: max-height 284ms ease 0s; position: relative;" aria-hidden="false">
            <ul>
                <li><a href="/" id="current">Home</a></li>


            </ul>
        </nav>

    </div>

</div>
<!-- Container / End -->